<% @title = "jqmobi-ujs test" %>

<%= test 'data-confirm', 'data-remote', 'data-disable', 'call-remote', 'call-remote-callbacks', 'data-method', 'override' %>

<h1 id="qunit-header"><%= @title %></h1>
<div id="jqmobi-version">
  jqMobi version:

  <% jqmobi_versions.each do |v| %>
    <%= ' • ' if v != jqmobi_versions.first %>
    <%= jqmobi_link v %>
  <% end %>
 <%= (' • ' + jqmobi_link('edge')) if File.exist?(settings.root + '/public/vendor/jq.mobi.js') %>
</div>
<h2 id="qunit-banner"></h2>
<div id="qunit-testrunner-toolbar"></div>
<h2 id="qunit-userAgent"></h2>
<ol id="qunit-tests"></ol>

<div id="qunit-fixture"></div>
